*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsl(240, 18%, 85%);
}

header {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  /*1024px*/
  @media (width <= 64rem) {
    h1 {
      font-size: 16px;
      margin-bottom: 50px;
    }
  }
  /*1366px*/
  @media (width <= 85.375rem) {
    h1 {
      font-size: 16px;
      margin-bottom: 50px;
    }
  }
}

main {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100vh;
  @media (width <= 64rem) {
    display: flex;
    align-items: flex-start;
  }

  /*1366px*/
  @media (width <= 85.375rem) {
    display: flex;
    align-items: flex-start;
  }
}

.display-flex {
  display: grid;
  justify-items: flex-start;
  justify-content: center;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 800px);
  grid-template-rows: repeat(1, 350px);

  @media (width <= 64rem) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  @media (width <= 85.375rem) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.question {
  display: grid;
  justify-content: center;
  align-content: center;
  padding: 20px;
  background-color: hsl(268, 100%, 86%);
  color: black;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  @media (width <= 64rem) {
    width: 900px;
    height: 100px;
  }
  @media (width <= 85.375rem) {
    width: 900px;
    height: 100px;
  }
}

#answer {
  display: none;
  cursor: default;
}

.answer {
  display: flex;
  background-color: hsl(192, 90%, 77%);
  padding: 20px;
  border-radius: 8px;
  font-size: 16px;

  @media (width <= 64rem) {
    width: 900px;
    height: 100%;
  }

  @media (width <= 85.375rem) {
    width: 900px;
    height: 100%;
  }
}
